# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Alembic
*.db

# VS Code
.vscode/

# macOS
.DS_Store

# Node
node_modules/

# Logs
*.log

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# Coverage
.coverage
htmlcov/

# Build
dist/
build/